<div id="volunteer-header">
  <h1 id="volunteer-header-text">
    <%= gettext "Democracy is Powered by Volunteers Like You" %>
  </h1>
</div>
<div id="volunteer-form-block-container">
  <div id="volunteer-form-overlay">
    <div id="volunteer-form">
      <%= render "volunteer-form.html", assigns %>
    </div>
  </div>
</div>
