<span class="facebook-icon">
  <svg version="1.1" id="Facebook" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 128 128" style="enable-background:new 0 0 128 128;" xml:space="preserve">
    <g>
      <path id="facebook-facebook_1_" class="st1" d="M56.5,99V65.8H45.3V52.9h11.2v-9.5c0-11.1,6.8-17.1,16.6-17.1c4.7,0,8.8,0.4,10,0.5
                v11.6l-6.8,0c-5.4,0-6.4,2.6-6.4,6.3v8.3h12.8L81,65.8H69.9V99H56.5z"/>
    </g>
  </svg>
</span>
